*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-shadow: 2px 3px 10px white; */
}
.container{
    display: grid;
    place-items: center;
    height: 100vh;
    
}
.box{
    background-color: rgb(207, 221, 232);
    width: 600px;
    height: 90vh;
    padding: 20px;
    color: white;
    position: absolute;
    text-align: center;
    box-shadow: 2px 3px 10px  rgb(124, 124, 165);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

p {
    color: #393737;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1d4fb3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    margin-top:auto;
    margin-bottom:auto;
}

button:hover {
    background-color: #2d0b94;
}

.subject_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: black;
}

#addSubject{
    margin-top: 20px;
}
input,select {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 35%;
}

.subject-boxes{
    display: flex;
    flex-direction: column;
    color: black;
}

.response{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    font-size: 3vh;
    text-align: center;
}

p{
    margin-top: 2rem;
}

#calculate{
    margin-left:auto;
    margin-right:auto;
}

.remove{
    border-radius: 50%;
    color: rgb(72, 49, 187);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    background-repeat:no-repeat ;
}

.remove:hover{
    border-radius: 50%;
    color:white;
    background-color: #1d4fb3;
    margin-left: auto;
    margin-right: auto;
    background-repeat:no-repeat ;
}